<?xml version="1.0"?>
<configuration>
    <system.web>
        <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
        <compilation debug="true" targetFramework="4.0">
        </compilation>
        <authentication mode="Windows"/>
        <httpModules>
            <add name="ContentTypeHttpModule" type="ContentTypeHttpModule.ContentTypeHttpModule, ContentTypeHttpModule"/>
        </httpModules>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
    <appSettings>
        <add key="ProductsXml" value="g:\Pivbank\site\v2\data\products.xml "/>
        <add key="TSConfigName" value="default"/>
        <add key="TSLogin" value="sysdba"/>
        <add key="TSPassword" value="masterkey"/>
    </appSettings>
</configuration>